* {
  box-sizing: border-box;
}

:root {
  --heading-text-color: #000958;
  ---paragraph-text-color: #656689;
  --btn-color: #ff5b2e;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  background-color: #fffaf5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sora", sans-serif;
  color: var(--heading-text-color);
}

p {
  color: var(---paragraph-text-color);
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
}

/* ===== Common ===== */
a {
  text-decoration: none;
}

.container {
  width: 1169px;
  max-width: calc(100vw - 48px);
  margin: 0 auto;
}

.box--row {
  display: flex;
  align-items: center;
}

.logo {
  gap: 8px;
  color: var(--heading-text-color);
  font-family: "Sora", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
}

.btn {
  padding: 20px 40px;
  color: var(--btn-color);
  font-weight: 500;
  border-radius: 999px;
  border: 1px solid var(--btn-color);
  transition: opacity 0.3s, box-shadow 0.3s;
}

.btn:hover {
  opacity: 0.6;
  box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 3);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* ===== Header ===== */
.header {
  padding-top: 26px;
}

.header .box--row {
  justify-content: space-between;
}

.navbar__link {
  display: inline-block;
  padding: 10px 18px;
  color: var(---paragraph-text-color);
  font-size: 1.4rem;
  font-weight: 500;
  transition: color 0.3s, font-weight 0.3s;
}

.navbar__link::after {
  content: attr(data-text);
  display: block;
  height: 0;
  font-weight: 600;
  visibility: hidden;
  overflow: hidden;
}

.navbar__link:hover,
.navbar__link--active {
  color: var(--heading-text-color);
  font-weight: 600;
}

.header-top .sign-up__btn {
  color: var(--heading-text-color);
  font-weight: 600;
  border-radius: 999px;
  border: 1px solid var(--heading-text-color);
}

.header-top .sign-up__btn:hover {
  opacity: 0.7;
  box-shadow: 0px 13px 26px -8px rgba(0, 9, 88, 0.42);
}

.hero {
  margin-top: 100px;
}

.hero__media {
  position: relative;
  padding-bottom: 90px;
  width: 47%;
}

.hero__img {
  border-radius: 16px;
  object-fit: cover;
}

.hero__img:first-child {
  width: 388px;
  height: 488px;
  border: 3px solid #fff;
  background: linear-gradient(180deg, #ffa78d 0%, #ff8c60 100%);
  box-shadow: 11px 18px 65px 0px rgba(255, 155, 121, 0.12);
}

.hero__img:last-child {
  position: absolute;
  right: 0;
  bottom: 55px;
  width: 186px;
  height: 244px;
  border: 2px solid rgba(255, 255, 255, 0.65);
  background: linear-gradient(206deg, #faa7ad 4.68%, #e87f8a 98.09%);
  box-shadow: 8px 18px 36px -6px rgba(234, 148, 157, 0.17);
  object-fit: contain;
  object-position: center 22px;
}

.hero-card {
  position: absolute;
  left: 127px;
  bottom: 0;
  padding: 18px 14px;
  width: 250px;
  border-radius: 10px;
  background: #fff;
  box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
}

.hero-card__item.box--row {
  justify-content: flex-start;
  gap: 8px;
}

.hero-card__item .hero-card__img {
  width: 40px;
  height: 40px;
  border-radius: 10px;
}

.hero-card__item:first-child {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid #f2f2f2;
}

.hero-card__item:first-child .hero-card__img {
  background-color: #fec23f;
  /* box-shadow: 0px 4px 21px 0px rgba(247, 167, 12, 0.32); */
}

.hero-card__item:last-child .hero-card__img {
  background-color: #c6e2fa;
  /* box-shadow: 0px 4px 21px 0px #6597c2; */
}

.hero-card__title {
  color: #181e52;
  font-family: "Sora", sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
}

.hero-card__line {
  margin-top: 6px;
  width: 118px;
  height: 4px;
  border-radius: 10px;
  opacity: 0.08;
  background: var(--heading-text-color);
}

.hero-card__line--short {
  width: 39px;
}

.hero-content {
  width: 40%;
}

.hero-content__heading {
  font-size: 6.6rem;
  font-weight: 800;
  line-height: 1.15;
}

.hero-content__desc {
  margin-top: 24px;
  width: 80%;
  line-height: 1.87;
}

.hero-content__cta.box--row {
  margin-top: 38px;
  justify-content: flex-start;
  gap: 24px;
}

.hero-content__btn {
  padding: 22px 30px;
  color: #fff;
  font-weight: 600;
  background: var(--btn-color);
  box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
  gap: 10px;
}

.hero-content__btn .fa-chevron-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  font-size: 1rem;
  background-color: #fff;
  color: var(--btn-color);
  border-radius: 50%;
}

.hero-content__link {
  color: var(--heading-text-color);
  font-weight: 500;
  text-decoration: underline;
}

.hero-media__union:first-of-type {
  position: absolute;
  top: 16px;
  right: 122px;
  z-index: -1;
}

.hero-media__union:last-of-type {
  position: absolute;
  left: -60px;
  bottom: 95px;
  z-index: -1;
}

/* ===== About ===== */
.about {
  margin-top: 77px;
  padding: 53px 0;
}

.about .box--row {
  justify-content: space-between;
}

.about-content {
  width: 44%;
}

.about-content__subtitle {
  color: #5e6085;
  font-family: "Sora", sans-serif;
  font-weight: 600;
  word-spacing: 3px;
}

.about-content__heading {
  margin-top: 15px;
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.19;
}

.about-content__desc {
  margin-top: 24px;
  padding-right: 15%;
  line-height: 1.87;
}

.about-content__list {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 34px 62px;
}

.about-content__item {
  position: relative;
  padding-left: 32px;
  color: #48496a;
  font-size: 1.8rem;
  font-weight: 500;
}

.about-content__item::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 0;
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: #ff5d31;
  border-radius: 4px;
}

.about-content__item::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 5px;
  display: inline-block;
  width: 10px;
  height: 5px;
  border: 2px solid;
  border-color: transparent transparent #fff2e5 #fff2e5;
  rotate: -45deg;
}

.about-media {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  width: 43%;
  height: 559px;
}

.about__img {
  width: 90%;
  object-fit: cover;
}

.about-media__box {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 336px;
  border-radius: 16px;
  background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
  box-shadow: 11px 18px 65px 0px rgba(255, 155, 121, 0.12);
  z-index: -1;
}

.about-media__union {
  position: absolute;
  top: 27%;
  right: -50px;
  z-index: -2;
}

.about__card {
  position: absolute;
  top: 155px;
  left: -95px;
  padding: 31px 26px;
  width: 136px;
  border-radius: 10px;
  background: #5bd6e2;
  box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
}

.about__card p:first-child {
  color: #fff;
  text-align: center;
  font-family: "Sora", sans-serif;
  font-size: 4.2rem;
  font-weight: 700;
}

.about__card p:last-of-type {
  margin-top: 14px;
  color: #c6f4f9;
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.42;
}

.about__card-icon {
  position: absolute;
  top: -40px;
  right: -35px;
}

/* ===== Features ===== */
.features {
  margin-top: 77px;
}

.features > .box--row {
  justify-content: space-between;
}

.features__images {
  position: relative;
  margin: 16px 0 50px;
  max-width: 458px;
  border-radius: 18px;
  border: 2px solid #fff;
  background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
  box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
}

.features__img {
  object-fit: cover;
}

.features__vector-1 {
  position: absolute;
  top: 12px;
  right: 48px;
}

.features__vector-2 {
  position: absolute;
  top: -16px;
  right: 5px;
}

.features__vector-3 {
  position: absolute;
  top: 30px;
  right: -26px;
}

.features__vector-4 {
  position: absolute;
  bottom: 210px;
  right: -37px;
}

.features__vector-5 {
  position: absolute;
  bottom: 150px;
  right: 25px;
}
.features__vector-6 {
  position: absolute;
  right: -45px;
  bottom: -50px;
}

.features__content {
  width: 46%;
}

.features__heading {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.19;
}

.features__desc {
  margin-top: 24px;
  line-height: 1.87;
}

.features-info {
  margin-top: 50px;
}

.features-info__list {
  position: relative;
  gap: 40px;
  border-bottom: 2px solid rgba(255, 91, 46, 0.07);
}

.features-info__link {
  gap: 5px;
  color: #48496a;
  font-family: "Sora", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
}

.features-info__item:nth-child(2) .features-info__link img {
  translate: -3px 4px;
}

.features-info__item.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  display: block;
  width: 95px;
  height: 2px;
  background-color: var(--btn-color);
}

.features-info__desc {
  margin-top: 36px;
  width: 73%;
  font-size: 1.4rem;
  line-height: 1.71;
}

.features-info__wrapp-link {
  margin-top: 32px;
  padding-bottom: 3px;
  display: inline-block;
  color: #ff5d31;
  font-weight: 500;
  border-bottom: 1.5px solid #ff5d31;
}

/* ===== Services ===== */
.services {
  margin-top: 130px;
  padding: 68px 0 100px;
  background-color: #fff6ed;
}

.services__subtitle {
  color: #5e6085;
  text-align: center;
  font-family: "Sora", sans-serif;
  font-weight: 600;
}

.services__heading {
  margin-top: 15px;
  text-align: center;
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.19;
}

.services__list.box--row {
  justify-content: space-between;
  margin-top: 70px;
}

.services__column:nth-child(2) {
  padding-top: 50px;
}

.services__item {
  max-width: 294px;
  height: 100%;
  padding: 30px 22px 30px 28px;
  border-radius: 10px;
  border: 2px solid rgba(255, 188, 122, 0.26);
  background: #fff;
  cursor: pointer;
}

.services__item + .services__item {
  margin-top: 24px;
}

.services__title {
  display: flex;
  align-items: center;
  font-size: 2.2rem;
  font-weight: 600;
}

.services__title::before {
  content: "";
  position: relative;
  margin-right: 12px;
  display: inline-block;
  width: 2px;
  height: 1em;
  background: linear-gradient(90deg, #ff5b2e 0.39%, #ffa187 100.29%);
}

.services__desc {
  margin-top: 18px;
  font-size: 1.4rem;
  line-height: 1.71;
}

.services__link {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 24px;
  color: #34396a;
  font-family: "Sora", sans-serif;
  font-size: 1.2rem;
}

.services__images {
  position: relative;
}

.services__img {
  position: relative;
  max-width: 447px;
  object-fit: cover;
  z-index: 1;
}

.services__box {
  position: absolute;
  left: 50%;
  bottom: 2px;
  translate: -50% 0;
  width: 410px;
  height: 350px;
  border-radius: 10px;
  background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
}

.services__btn {
  position: relative;
  left: 50%;
  translate: -50%;
  margin-top: 45px;
  display: inline-block;
}

/* ===== Staff ===== */
.staff {
  margin-top: 130px;
}

.staff_subtitle {
  color: #5e6085;
  text-align: center;
  font-family: "Sora", sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.staff__heading {
  margin-top: 15px;
  font-size: 5.2rem;
  font-weight: 700;
  text-align: center;
}

.staff__list {
  margin-top: 60px;
  justify-content: space-between;
}

.staff__item figure {
  position: relative;
}

.staff__item:nth-child(odd) figure svg {
  position: absolute;
  left: -18px;
  bottom: 6px;
}

.staff__item:nth-child(even) figure svg {
  position: absolute;
  top: 20px;
  left: -18px;
}

.staff__img {
  max-width: 100%;
  border-radius: 0 0 999px 999px;
  object-fit: cover;
}

.staff__box {
  position: absolute;
  left: 0;
  bottom: 3px;
  width: 234px;
  height: 266px;
  border-radius: 999px;
  z-index: -1;
}

.staff__item:first-child .staff__box {
  background: linear-gradient(180deg, #90ccff 0%, #59a8eb 95.96%);
}

.staff__item:nth-child(2) .staff__box {
  background: linear-gradient(180deg, #ff997e 0%, #f3752e 100%);
}

.staff__item:nth-child(3) .staff__box {
  background: linear-gradient(180deg, #fabf3e 0%, #ffa14a 100%);
}

.staff__item:last-child .staff__box {
  background: linear-gradient(180deg, #5bd6e2 0%, #00a7cc 100%);
}

.staff__position {
  margin-top: 24px;
  text-align: center;
  font-size: 1.4rem;
}

.staff__name {
  margin-top: 14px;
  color: var(--heading-text-color);
  text-align: center;
  font-family: "Sora", sans-serif;
  font-size: 2.2rem;
  font-weight: 600;
}

.staff__btn {
  position: relative;
  left: 50%;
  translate: -50% 0;
  margin-top: 68px;
  display: inline-block;
}

/* ===== Pricing ===== */
.pricing {
  margin-top: 130px;
  padding: 86px 0;
  background-color: #fff6ed;
}

.pricing__heading {
  text-align: center;
  font-size: 5.2rem;
  font-weight: 700;
}

.pricing__desc {
  margin: 24px auto 38px;
  width: 60%;
  text-align: center;
  font-weight: 400;
  line-height: 1.87;
}

.pricing__date {
  position: relative;
  display: flex;
  justify-content: center;
}

.pricing__btn {
  padding: 0;
  display: inline-block;
  min-width: 276px;
  border-radius: 999px;
  border: 1px solid #ff5b2e;
  background-color: transparent;
  color: var(--btn-color);
  font-weight: 500;
  cursor: pointer;
}

.pricing__btn span {
  display: inline-block;
  padding: 20px 40px;
  border-radius: 999px;
}

.pricing__btn-year {
  background-color: var(--btn-color);
  color: #fff;
}

.pricing__img-sale {
  position: absolute;
  top: -13px;
  right: 29%;
  width: 86px;
  height: 36px;
}

.pricing__list {
  width: 88%;
  margin: 56px auto 0;
  gap: 44px;
}

.pricing-item {
  width: calc((100% / 3) - 29.33px);
  padding: 30px 28px 43px;
  border-radius: 20px;
  background: #fff;
}

.pricing-item__subtitle {
  color: var(--btn-color);
  font-size: 1.2rem;
}

.pricing-item__title {
  margin-top: 8px;
  color: #3f4065;
  font-family: "Sora", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
}

.pricing-item__number {
  margin-top: 24px;
  color: var(--heading-text-color);
  font-family: "Sora", sans-serif;
  font-size: 3.3rem;
  font-weight: 700;
}

.pricing-item__btn {
  margin-top: 22px;
  display: block;
  padding: 14px 0;
  width: 100%;
  text-align: center;
  transition: color 0.3s, background-color 0.3s;
}

.pricing-item__btn:hover {
  color: #fff;
  background-color: var(--btn-color);
  opacity: 1;
  box-shadow: none;
}

.pricing-item__list {
  margin-top: 24px;
}

.pricing-item__untility + .pricing-item__untility {
  margin-top: 18px;
}

.pricing-item__untility {
  position: relative;
  padding-left: 22px;
  color: var(---paragraph-text-color);
  font-size: 1.4rem;
}

.pricing-item__untility::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 0;
  display: inline-block;
  width: 8px;
  height: 4px;
  border: 1px solid;
  border-color: transparent transparent var(--btn-color) var(--btn-color);
  rotate: -45deg;
}

.pricing-item__untility.check-none::before {
  opacity: 0.3;
}

/* ===== Reviews ===== */
.reviews {
  margin-top: 53px;
}

.reviews__list {
  position: relative;
}

.reviews__list > button {
  position: absolute;
  display: inline-block;
  width: 54px;
  height: 54px;
  font-size: 1.4rem;
  color: var(--btn-color);
  border: 1px solid var(--btn-color);
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s, box-shadow 0.3s;
}

.reviews__list > button:hover {
  color: #fff;
  background-color: var(--btn-color);
  box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

.reviews__previous {
  left: 0;
  top: 50%;
  translate: 0 -50%;
}

.reviews__next {
  right: 0;
  top: 50%;
  translate: 0 -50%;
}

.reviews__item {
  justify-content: space-between;
  width: 83%;
  margin: 0 auto;
}

.reviews figure {
  position: relative;
}

.reviews__img {
  position: relative;
  bottom: -2px;
  max-width: 274px;
  object-fit: cover;
  border-radius: 999px;
}

.reviews__box {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 274px;
  height: 350px;
  border-radius: 999px;
  background: #ffda54;
  z-index: -1;
}

.reviews__content {
  padding-top: 40px;
  width: 58%;
}

.reviews__heading {
  font-size: 5.2rem;
  line-height: 1.19;
}

.reviews__desc {
  margin-top: 24px;
  color: #000;
  font-size: 1.8rem;
  line-height: 1.55;
}

.reviews__name {
  margin-top: 34px;
  display: flex;
  gap: 8px;
  align-items: center;
  color: #282828;
  font-family: "Sora", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
}

.reviews__name::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 2px;
  background-color: #000;
}

.reviews__controls {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 56px;
}

.review__controls-item {
  padding: 0;
  display: inline-block;
  width: 9px;
  height: 9px;
  border: 1px solid var(--btn-color);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  transition: width 0.3s, border-radius 0.3s, background-color 0.3s;
}

.review__controls-item:hover {
  background-color: var(--btn-color);
}

.review__controls-item.active {
  width: 25px;
  border-radius: 999px;
  background-color: var(--btn-color);
}

/* ===== Blog ===== */
.blog {
  margin-top: 130px;
}

.blog__header {
  justify-content: space-between;
}

.blog__heading {
  font-size: 5.2rem;
  font-weight: 700;
}

.blog__header-content {
  width: 30%;
}

.blog__desc {
  line-height: 1.87;
}

.blog__btn {
  display: inline-block;
  margin-top: 24px;
}

.blog__list {
  margin-top: 54px;
  justify-content: space-between;
  align-items: flex-start;
}

.blog__item {
  width: 31%;
  cursor: pointer;
}

.blog__images {
  padding: 24px 40px;
  position: relative;
  width: 100%;
  height: 362px;
  border-radius: 24px 24px 0 24px;
  background: #90ccff;
}

.blog__item:nth-child(2) .blog__images {
  background: #ff997e;
}

.blog__item:last-child .blog__images {
  background: #5bd6e2;
}

.blog__date {
  color: #fff;
  font-family: "Sora", sans-serif;
  font-size: 1.4rem;
}

.blog__img {
  position: absolute;
  right: 0;
  bottom: 0;
}

.blog__title {
  --line-clamp: 2;
  margin-top: 28px;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.54;
}

.blog__item-desc {
  margin-top: 16px;
  font-size: 1.4rem;
  line-height: 1.71;
}

/* ===== Footer ===== */
.footer {
  position: relative;
  margin-top: 130px;
}

.footer::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  display: block;
  width: 43%;
  background-color: #fff6ed;
  z-index: -1;
}

.footer__left {
  width: 41.5%;
  padding: 114px 0 148px;
}

.footer__form {
  position: relative;
  margin-top: 34px;
}

.footer__input {
  min-width: 268px;
  padding: 16px 55px 16px 22px;
  color: #656689;
  font-size: 1.2rem;
  font-weight: 300;
  border-radius: 23px;
  border: 1px solid rgba(255, 91, 46, 0.25);
  background: #fff;
  outline: none;
}

.footer__submit {
  position: absolute;
  top: 0;
  left: 217px;
  width: 51px;
  height: 51px;
  font-size: 1.4rem;
  color: #fff;
  background-color: var(--btn-color);
  box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
  border: none;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}

.footer__follow {
  margin-top: 68px;
  color: var(--heading-text-color);
  font-family: "Sora", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
}

.footer__social {
  margin-top: 16px;
}

.footer_social-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  font-size: 1.4rem;
  color: var(--heading-text-color);
  background-color: #fff;
  border-radius: 50%;
}

.footer_social-icon + .footer_social-icon {
  margin-left: 16px;
}

.footer__right {
  padding: 52px 0 0 120px;
  align-self: flex-start;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 50px;
}

.footer__title {
  font-size: 1.8rem;
  font-weight: 600;
}

.footer__list {
  margin-top: 16px;
}

.footer__item + .footer__item {
  margin-top: 12px;
}

.footer__item,
.footer__link {
  color: var(---paragraph-text-color);
  font-size: 1.4rem;
  font-weight: 400;
}

.footer__copyright {
  position: absolute;
  bottom: 48px;
  left: 50%;
  translate: -50% 0;
  font-size: 1.2rem;
}
